:root{

--bg:#ffffff;
--text:#111;
--grey:#777;
--line:#dedede;

}


*{

box-sizing:border-box;

}


body{

margin:0;
background:var(--bg);
color:var(--text);

font-family:"IBM Plex Mono", monospace;

}


nav{

height:80px;

display:flex;
align-items:center;
justify-content:space-between;

padding:0 7%;

border-bottom:1px solid var(--line);

position:sticky;
top:0;

background:white;

z-index:10;

}


.logo{

font-size:15px;

}


.links{

display:flex;
gap:30px;

}


a{

text-decoration:none;
color:#555;

transition:.2s;

}


a:hover{

color:black;

}


.version{

color:#999;
font-size:13px;

}



main{

max-width:1100px;
margin:auto;

padding:0 7%;

}



.hero{

padding-top:140px;
padding-bottom:120px;

}



.label{

font-size:13px;
color:#888;

margin-bottom:40px;

}


h1{

font-size:80px;

font-weight:400;

line-height:.95;

margin:0;

letter-spacing:-3px;

}


h1 em{

font-family:"Crimson Pro",serif;

font-weight:400;

}



.subtitle{

margin-top:50px;

font-size:18px;

line-height:2;

color:#555;

}



.status{

display:flex;

gap:100px;

margin-top:70px;

font-size:14px;

}


.status span{

font-size:11px;

color:#999;

text-transform:uppercase;

}



.interest{

display:flex;

align-items:center;

gap:30px;

margin-bottom:120px;

}


.interest p{

font-size:13px;
color:#555;

}


.line{

height:1px;
background:var(--line);
flex:1;

}



.about{

display:grid;

grid-template-columns:100px 1fr;

border-top:1px solid var(--line);

padding-top:80px;

padding-bottom:150px;

}



.number{

color:#999;

}



h2{

font-size:40px;

font-weight:400;

}



.about p{

max-width:600px;

line-height:2;

color:#555;

}



footer{

border-top:1px solid var(--line);

padding:30px 7%;

display:flex;

justify-content:space-between;

color:#999;

font-size:12px;

}




@media(max-width:700px){

h1{

font-size:50px;

}


.links{

display:none;

}


.status{

flex-direction:column;

gap:30px;

}


.about{

grid-template-columns:1fr;

}

}
